<div class="card mb-5 mb-lg-0">


  <div class="card-body">

    <div class="headers d-flex flex-column align-items-center g-5">
      <h5 class="card-title text-muted text-uppercase text-center">{{plan}}</h5>
      <h6 class="card-price text-center">{{price}}<span class="period">/month</span></h6>
    </div>

    <hr>

    <ul class="fa-ul list-unstyled" *ngFor="let item of unMutedItems; index as i;">
      <li class="list-item d-flex align-items-center gx-20">
        <span class="fa-li">
          <svg xmlns="http://www.w3.org/2000/svg" style="fill: #000000" height="2em" viewBox="0 0 448 512">
            <path
              d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
          </svg>
        </span>{{item}}
      </li>
    </ul>

    <ul class="fa-ul text-muted list-unstyled" *ngFor="let item of mutedItems; index as i;">
      <li class="list-item d-flex align-items-center gx-10">
        <span class="fa-li">
          <svg xmlns="http://www.w3.org/2000/svg" style="fill: #000000b7" height="2em" viewBox="0 0 384 512">
            <path
              d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
          </svg>
        </span>{{item}}
      </li>
    </ul>

    <div class="d-grid">
      <a href="#" class="btn btn-primary text-uppercase">Button</a>
    </div>

  </div>


</div>